<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Receipe Book</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="onSelect('receipe')">Receipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" (click)="onSelect('shopping')">Shopping list</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" 
                    href="#" 
                    id="navbarDropdown" 
                    role="button" 
                    aria-expanded="false">
                    Manage
                    </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Save Data</a>
                        <a class="dropdown-item" href="#">Fetch Data</a>
                      </div>
                </li>
            </ul>         
        </div>
    </div>
</nav>