<!-- Chapter 01-02 -->
<!-- <app-servers></app-servers> 
<div app-servers>Attribute selector</div> 
<div class="app-servers">class selector</div> -->

<!-- Chapter 03-04-06 -->
<!-- <app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-receipes *ngIf="loadedFeature === 'receipe'"></app-receipes>
            <app-shopping-list *ngIf="loadedFeature !== 'receipe'"></app-shopping-list>
        </div>
    </div> 
</div> -->


<!-- Chapter 05 cockpit/server-element component -->
<!--<div class="container">
    <app-cockpit 
        (serverCreated)="onServerAdded($any($event))"
        (bpCreated)="onBlueprintAdded($any($event))"
    >
    </app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <button 
                class="btn btn-primary" 
                (click)="onChangeName()"> Change Input name
            </button>
            <button 
                class="btn btn-danger" 
                (click)="onDestroy()"> Delete Server
            </button>

            <app-server-element *ngFor="let server of serverElements; let i=index"
            [srvElement]="server"
            [name]="server.name">
            <p #contentParagraph>
                <strong *ngIf="server.type === 'server'" style="color: red">{{ server.content }}</strong>
                <em *ngIf="server.type === 'blueprint'">{{ server.content }}</em>
            </p>
        </app-server-element>
        </div>
    </div>
</div>-->


<!-- Chapter 07 appBetterHighlight/appHighlight directives-->
<!-- <div appBetterHighlight>
    <p>
        Style me with basic directive
    </p>
</div> -->
<!-- <div [ngSwitch]="5">
    <p *ngSwitchCase = "5">Value is 5</p>
    <p *ngSwitchCase = "10">Value is 10</p>
    <p *ngSwitchCase = "25">Value is 25</p>
    <p *ngSwitchDefault>Value is default</p>
</div> -->

<!-- Chapter 09 - Account/ new-account components -->
<!-- 
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <app-new-account></app-new-account>
        
        <hr>
        
        <app-account
          *ngFor="let acc of accounts; let i = index"
          [account]="acc"
          [id]="i"></app-account>
      </div>
    </div>
  </div>
  -->

  <!-- Chapter 11 - Routing -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <ul class="nav nav-tabs justify-content-end">
          <li role="presentation" class="nav-item">
            <a 
            routerLink="/" 
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}"
            class="nav-link" >Home</a>
          </li>
          <li role="presentation" class="nav-item">
            <a 
            routerLink="/servers" 
            class="nav-link" 
            routerLinkActive="active">Servers</a>
          </li>
          <li role="presentation" class="nav-item">
            <a 
            [routerLink]="['/users']" 
            class="nav-link" 
            routerLinkActive="active">Users</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

