<!-- Chapter 01-02 -->
<!-- <app-servers></app-servers> 
<div app-servers>Attribute selector</div> 
<div class="app-servers">class selector</div> -->

<!-- Chapter 03-04-06 -->
<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-receipes *ngIf="loadedFeature === 'receipe'"></app-receipes>
            <app-shopping-list *ngIf="loadedFeature !== 'receipe'"></app-shopping-list>
        </div>
    </div> 
</div>


<!-- Chapter 05 -->
<!--<div class="container">
    <app-cockpit 
        (serverCreated)="onServerAdded($any($event))"
        (bpCreated)="onBlueprintAdded($any($event))"
    >
    </app-cockpit>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <button 
                class="btn btn-primary" 
                (click)="onChangeName()"> Change Input name
            </button>
            <button 
                class="btn btn-danger" 
                (click)="onDestroy()"> Delete Server
            </button>

            <app-server-element *ngFor="let server of serverElements; let i=index"
            [srvElement]="server"
            [name]="server.name">
            <p #contentParagraph>
                <strong *ngIf="server.type === 'server'" style="color: red">{{ server.content }}</strong>
                <em *ngIf="server.type === 'blueprint'">{{ server.content }}</em>
            </p>
        </app-server-element>
        </div>
    </div>
</div>-->